###############################################################
################ settings of the first backup #################
###############################################################

# first backup over ssh on a local server S2. The script
# that uses the following entries runs on S1. 
# (see the image in README.md)


# here I delegated the details of the "rasp2" entry to the  
# /root/.ssh/config file
localserver="rasp2" 

# this is the mount point of the backup location
# on the local server
localserverdirectory="/media/fred/sandisk" 

# here we provide the nextcloud server details, namely
# the data: 
data="/mnt/bigdisk/nextcloud"
# and the software itself:
htmlfiles="/var/www/html/nextcloud"

# then, a signal file dumped by the first script on the
# S2 server, which signals that a local backup 
# has completed.
SIGNALFILE="/home/fred/.nextcloudbackup/localBackupDone"

###############################################################
############### settings of the second backup #################
###############################################################

# this second part will be used in a script running on S2,
# for an encrypted backup in S3.

# info of the distant server S3 
# (again relying on /root/.ssh/config)
distanthost="ryzen"

# distant directory that contains the encrypted image.
distantdir="/run/media/fred/fred_distant"

# private ssh key authentificating us when mounting
# the distant filesystem with sshfs.
idfile="/home/fred/.ssh/id_rsa"

# where the backup is stored. We will copy from there.
# normally, localbackupdirectory=$localserverdirectory
# as defined earlier.
localbackupdirectory="/media/fred/sandisk" 
# we also need a mount point for the distant filesystem:
localmount="/mnt/RemoteEncrypted"

# putting here the name of the encrypted LUKFS image 
# (must be at the root of $distandir)
imgfile="fred_distant_backup.img"

# this is where the encrypted image should be locally 
# mounted relative to $localmount.
localencrypted="Private"
# the structure looks then like:
#
# /mnt/RemoteEncrypted
#      ├── fred_distant_backup.img
#      └── Private
#
# This whole tree is mounted locally using SSHFS.
# In turn, the image is decrypted and mounted into "Private".

# regarding the luks volume,
# here the name of the local mapper (this value is not too 
# important, it must be unique enough such that it does 
# not conflict with potential other virtual file systems)
localencryptedname="fredNextcloudBackup"
# and the key file that decrypts the luks image.
keyfile="/home/fred/.nextcloudbackup/nextcloudbackup_bycedric.keyfile"

